* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.home {
    text-align: left;
    padding-left: 15px;
    font-size: x-large;
    background-color: lightblue;
}

.title {
    text-align: left;
    padding-left: 15px;
    font-size: x-large;
    background-color: lightskyblue;
}

.sidebar {
    padding: 10px;
}

.button-sidebar {
    margin: 5px;
    width: fit-content;
    display:block;
    padding-left: 5px;
    padding-right: 5px;
}

.content {
    padding: 10px;
    /* background-color: lightgray; */
    /* width: 80vw;
    height: 90vh; */
}


.apply_after::after {
    content: "hi";
}

div.apply_after::after {
    content: "hi_after_div";
}

.status {
    display:inline-block
}

.loading2 {
    display: inline;
}

.loading:after, .loading2:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }

@keyframes ellipsis {
    to {
        width: 20px;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;
    }
}

