<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="grid">
            <div class="home">
                <a href="/index.html">Home</a>
            </div>
            <div class="title">
                <p>Arrays</p>
            </div>
            <div class="sidebar">
                <button class="button-sidebar" id="button-demo-initializing">Initializing</button>
                <button class="button-sidebar" id="button-demo-adding-removing">Adding and removing elements</button>
                <button class="button-sidebar" id="button-demo-element-ops">Element operations</button>
                <button class="button-sidebar" id="button-demo-search">Search</button>
                <button class="button-sidebar" id="button-demo-destructuring">Destructuring assignment</button>
                <button class="button-sidebar" id="button-demo-copying">Array (shallow) copying</button>
                <button class="button-sidebar" id="button-demo-filter">filter() demo</button>
                <button class="button-sidebar" id="button-demo-map">map() demo</button>
                <button class="button-sidebar" id="button-demo-forEach">forEach() demo</button>
                <button class="button-sidebar" id="button-demo-isArray">isArray() demo</button>
                <button class="button-sidebar" id="button-demo-slice">slice() demo</button>
                <button class="button-sidebar" id="button-demo-join">join() demo</button>
                <button class="button-sidebar" id="button-demo-reduce">reduce() demo</button>
                <button class="button-sidebar" id="button-demo-add-elements-conditionally">Adding elements conditionally</button>
            </div>
            <div class="content">
                <p id="output"></p>
            </div>
        </div>
        <script type='module' src='/scripts/array_demo.js'></script>
    </body>
</html>