<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="grid">
            <div class="home">
                <a href="/index.html">Home</a>
            </div>
            <div class="title">
                <p>Exponential backoff (checking Internet connection status)</p>
            </div>
            <div class="sidebar">
                <button class="button-sidebar" id="button-demo-basic-features">Basic features</button>
                <button class="button-sidebar" id="button-demo-1">Demo 1</button>
                <button class="button-sidebar" id="button-demo-2">Demo 2</button>
                <button class="button-sidebar" id="button-demo-3">Demo 3</button>
                <button class="button-sidebar" id="button-demo-4">Retry (5, 30, 0, 2)</button>
                <button class="button-sidebar" id="button-demo-5">Retry (5, 30, 120, 2)</button>
            </div>
            <div class="content">
                <span>Current status: </span>
                <span id="status_online" class="status">Online</span>
                <span id="status_offline" class="status">Offline</span>
                <p id="output"></p>
            </div>
        </div>
        <script type='module' src='/scripts/exponential_backoff.js'></script>
    </body>
</html>