<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="grid">
            <div class="home">
                <a href="/index.html">Home</a>
            </div>
            <div class="title">
                <p>form demo</p>
            </div>
            <div class="sidebar">
                <button class="button-sidebar" id="button-demo-input-files">Input files demo</button>
            </div>
            <div class="content">
                <div class="demo-input-files">
                    <form>
                        <input type="file" name="client-file" id="get-files" multiple />
                        <button id="list-selected-files">List selected</button>
                    </form>
                </div>
                <p id="output"></p>
            </div>
        </div>
        <script type='module' src='/scripts/form_demo.js'></script>
    </body>
</html>