<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="grid">
            <div class="home">
                <a href="/index.html">Home</a>
            </div>
            <div class="title">
                <p>Objects demo</p>
            </div>
            <div class="sidebar">
                <button class="button-sidebar" id="button-demo">Demo</button>
                <button class="button-sidebar" id="button-demo-types">Types</button>
                <button class="button-sidebar" id="button-demo-reflection">Reflection</button>
                <button class="button-sidebar" id="button-demo-object-getOwnPropertyNames">Object.getOwnPropertyNames()</button>
                <button class="button-sidebar" id="button-demo-4">Demo 4 ()</button>
                <button class="button-sidebar" id="button-demo-json-object">JSON object demo</button>
                <button class="button-sidebar" id="button-demo-object-assign">Object.assign()</button>
                <button class="button-sidebar" id="button-demo-null-property-demo">null property</button>
                <button class="button-sidebar" id="button-demo-json-verification">JSON verification</button>
            </div>
            <div class="content">
                <p id="output"></p>
            </div>
            </div>
        <script type='module' src='/scripts/objects_demo.js'></script>
    </body>
</html>
