<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="grid">
            <div class="home">
                <a href="/index.html">Home</a>
            </div>
            <div class="title">
                <p>Operators</p>
            </div>
            <div class="sidebar">
                <button class="button-sidebar" id="button-operators-demo">Demo</button>
                <button class="button-sidebar" id="button-demo-equality-operator">Equality operator</button>
                <button class="button-sidebar" id="button-demo-identity-operator">Identity operator</button>
                <button class="button-sidebar" id="button-demo-spread-operator-properties">Spread operator</button>
                <button class="button-sidebar" id="button-demo-delete-operator">delete</button>
            </div>
            <div class="content">
                <p id="output"></p>
            </div>
        </div>
        <script type='module' src='/scripts/operators_demo.js'></script>
    </body>
</html>
