<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>Promise demo</p>
        <br>
        <button id="button-demo-1">Demo 1 (successful promise resolution)</button>
        <br>
        <br>
        <button id="button-demo-2">Demo 2 (triggering promise rejection)</button>
        <br>
        <br>
        <button id="button-demo-3">Demo 3 (Promise.race)</button>
        <br>
        <br>
        <button id="button-demo-4">Demo 4 (promise chaining)</button>
        <p id="output"></p>
        <script type='module' src='/scripts/promise_demo.js'></script>
    </body>
</html>