<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="grid">
            <div class="home">
                <a href="/index.html">Home</a>
            </div>
            <div class="title">
                <p>this</p>
            </div>
            <div class="sidebar">
                <button class="button-sidebar" id="button-demo-this-subroutine">this in subroutine</button>
            </div>
            <div class="content">
                <p id="output"></p>
            </div>
        </div>
        <script type='module' src='/scripts/this_demo.js'></script>
    </body>
</html>