<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="grid">
            <div class="home">
                <a href="/index.html">Home</a>
            </div>
            <div class="title">
                <p>Window demo</p>
            </div>
            <div class="sidebar">
                <button class="button-sidebar" id="button-demo-location">location API demo</button>
            </div>
            <div class="content">
                <p>To test <b>window</b> events, duplicate this page and drag it into a new window (in Chrome). Then close it.</p>
                <input id='user-input' type='text'></input>
                <p id="output"></p>
            </div>
        </div>
        <script type='module' src='/scripts/window_demo.js'></script>
    </body>
</html>